*
{
	margin:0px;
	padding: 0px;
}


.wrapper{
	width:100%;
	height:auto;
}

.wrapper .loginBox{
	width:500px;
	height:auto;
	margin:100px auto;
	background-color:#8A91CB;
	padding:10px;
	box-shadow:1px 1px 2px 2px gray;
	border-radius:5px;
}

.wrapper .logo{
	height:50px;
	width:100%;
}

.submit, .button
{
	height:30px;
	width:200px;
	color:#001DFF;
	background-color:#FFF;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px;
}

.username, .password
{
	height:30px;
	width:150px;
	padding:5px;
}

.wrapper .title
{
	height: 30px;
	width: 80%;
	margin: 30px auto;
	border: 2px solid black;
	border-radius: 10px;
	padding: 20px;
	
}

.wrapper .title ul
{
	height: 100%;
	width: 100%;
	list-style: none;
}

.wrapper .title ul li
{
	height: 100%;
	width: 33.3%
	list-style:none;
	display:inline-block;
	float:left;
	font-size: 24px;
	margin-right: 100px;
}

.wrapper .title ul li:hover
{
	text-decoration: underline;
}
.wrapper .post_job
{
	height: auto;
	width: 60%;
	margin: 100px auto;
	border: 2px solid black; 
	padding: 20px;
	/*background-color: #000; */
}

.wrapper .post_job label
{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin-right: 30px;
}

.wrapper .post_job input, textarea
{
	height: 30px;
	padding: 5px;
	width: 200px;
	border:0.5px solid;
	border-color: blue;
	border-radius: 10px;
}

.wrapper .post_job input:focus, textarea:focus
{
	outline: none;
}
.wrapper .post_job textarea
{
	height: 50px;
	width: 200px;
}
.wrapper .post_job .submit
{
	width: 50px;
	border: 0px;
}

.wrapper .loginBox h1, p
{
	text-align: center;;
}

.wrapper .loginBox a:hover
{
	color: #FFF;
}
#resume
{
	height: 30px;
	width: 150px;
	float: right;
	margin-right: 10px;
	background-color: #ae92e6;
	border: 1px solid gray;
	box-shadow: 1px 1px 1px gray;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	cursor: pointer;	
}

#resume:hover
{
	transition: 0.3s ease-in-out all;
	background-color: #FFF;
	color: #000;	
}
.wrapper .vacancyBox
{
	height: auto;
	width: 80%;
	margin: 10px auto;
	padding: 20px;
	font-family: 'Lobster', cursive;
	font-size: 18px;
	   background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#51c9fe, #d1eeff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#51c9fe, #d1eeff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#51c9fe, #d1eeff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#51c9fe, #d1eeff); /* Standard syntax */
    border-radius: 12px;
}

.wrapper .vacancyBox .box1
{
	float: left;
	width: 100%;
}

.wrapper .vacancyBox .box1 img
{
	height: 100px;
	width: 130px;
	border: 1px solid black;
	float: left;
}

.wrapper .vacancyBox .box1 h2
{
	text-align: center;
	font-size: 40px;
}

.wrapper .vacancyBox .box2
{
	margin-top: 20px;
	width: 100%;
}

.wrapper .vacancyBox .box2 label, .box3 label, .box4 label
{
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
}

.wrapper .vacancyBox .box2 a
{
	text-align: right;
}
.wrapper .vacancyBox .box4 #daysRemain
{
	text-align: right;
	width: 100%;
}
.see
{
	height: 20px;
	width: 80px;
	border: 0px;
	border-radius: 15px; 
	font-size: 14px;
	font-style: italic;
	cursor: pointer;	
}


.see:hover
{
	transition: 0.2s ease-in-out all;
	background-color: #FFF;
	color: #000;	
}
.see:focus
{
	outline: none;
}
#apply
{
	height: 30px;
	width: 100px;
	float: right;
	background-color: #ae92e6;
	border: 0px;
	font-size: 14px;
	font-style: italic;
	cursor: pointer;
}

#apply:hover
{
	transition: 0.2s ease-in-out all;
	background-color: #4614ab;
	color: #FFF;	
}

.wrapper .company-info 
{
	width:90%;
	height:auto;
	margin:0 auto;
	border:3px solid hsla(172,68%,67%,1.00);
	background-color:hsla(199,51%,75%,1.00);
}

.wrapper .company-info table
{
	height:100%;
	width:100%;
	text-align:center;
}

.wrapper .company-info table th
{
	border:0px;
	text-align:center;
	font-size: 24px;
}

.wrapper .company-info table td a:hover
{
	color:#FFF;
}

.wrapper .company-info table tr
{
	height:30px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

.wrapper .form
{
	height:auto;
	width:70%;
	margin:0 auto;
	padding:20px;
	border:solid 1px blue;
	border-radius:0 15px 0 15px;
	text-align:center;
}

.wrapper .form label
{
	font-size:18px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style:oblique;
}

.wrapper .form input
{
	height:30px;
	width:200px;
	padding:5px;
	border:solid 1px blue;
	border-radius: 3px;
}
.wrapper .form input:focus
{
	outline:none;
}

.wrapper .form .submit:hover
{
	background-color:#000000;
	opacity:0.4;
	color:#FFF;
}

.wrapper .logout
{
	height: 40px;
	width: 60%;
	margin: 20px auto;
	padding: 5px;
	position: relative;
	text-align: right; 
	top: 140px;
	left: 0px;
	right: 0px;
}

.wrapper .logout a
{
	color: red;
	font-size: 20px;
	padding: 5px;
	text-decoration: none;
	border-radius: 5px;
}

.wrapper .logout a:hover
{
	color: white;
	background-color: black;	
}

.wrapper .form_resume
{
	height:auto;
	width:70%;
	margin:0 auto;
	padding:20px;
	border:solid 1px blue;
	border-radius:0 15px 0 15px;
}

.wrapper .form_resume label
{
	font-size:18px;
	font-weight: bold;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper .form_resume input
{
	height:30px;
	width:200px;
	padding:5px;
	border:solid 1px blue;
	border-radius: 3px;
}
.wrapper .form_resume input:focus
{
	outline:none;
}

.wrapper .form_resume .submit:hover
{
	background-color:#000000;
	opacity:0.4;
	color:#FFF;
}

.wrapper .form_resume table
{
	width: 100%;
}
.wrapper .form_resume table thead
{
	height: 50xp;
	background-color: aqua;
	font-size: 24px;
	padding: 3px;
	font-weight: bold;
}
.wrapper .form_resume table tr td
{
	height: 30px;
	text-align: center;
}
.wrapper .form_resume table tr td input
{
	height: 10px;
}